
.chat {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: auto;
  padding: 15px;
  max-width: 60%;
  align-self: flex-end;
  font-family: var(--font-arsenal), sans-serif;
  font-weight: 700;
  letter-spacing: .10rem;
}




.inner_chat {
  height: auto;
  width: 100%;
  padding: 30px 50px;
  background: black;
  text-align: left;
  clip-path: polygon(0px 0px, 100% 20px, 95% 95%, 0px 90%);
  filter: drop-shadow(0 0 1 white);
}

.inner_chat_shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  top: 0; 
  left: 0;
  clip-path: polygon(10px 0px,100% 20px, 95% 95%, 0px 85%);
  z-index: -1;
}

