@font-face {
  font-family: 'poppin';
  src: url('../../../public/font/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:global(.theme-persona) {
    .page {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .character {
        position: absolute;
        background-image: URl("../../../public/Joker.png");
        background-size: contain;
        background-repeat: no-repeat;
        top: 60%;
        left: calc(50% + 100px);
        transform: translate(-50% , -50%);
        width: 800px;
        height: 800px;

    }

    .project_container {
        position: absolute;

        width: 250px;
        height: 55px;
        background: red;
    }

    .urmc_hub {
        top: 60%;
        left: calc(50% + 100px);
        transform: translate(-35% , -50%) rotate(45deg);
    }

    .personal_website {
        top: 25%;
        left: calc(60% + 100px);
        transform: translate(-35% , -50%) rotate(-15deg);
    }

    .personal_website:hover {
        transform:  translate(-30% , -50%) rotate(-10deg) scale(1.1);
        cursor: pointer;
    }

    .urmc_hub:hover {
        transform:  translate(-30% , -50%) rotate(40deg) scale(1.1);
        cursor: pointer;
    }

    .pokedex {
        top: 25%;
        left: 0%;
        transform: translate(-35% , -50%) rotate(-15deg);
    }


    .pokedex .text {
        transform: translateX(-45px) scaleX(-1);
    }

    .pokedex:hover {
        transform:  translate(0%, 0%) rotate(10deg) scale(1.1) scaleX(-1);
        cursor: pointer;
    }

    .mirror {
        transform: scaleX(-1)
    }

    .project {
        position: absolute;
        top: -45px;
        width: 300px;
        height: 90px;
        background: black;
        clip-path: polygon(0 40%, 90% 0%, 100% 100%, 0% 70%);

    }



    .text {
        position: absolute;
        top: -25px;
        left: 60px;
        width: 100%;
        font-size: 40px;
        letter-spacing: -2px;
        font-family: poppin;
    }

    .text1 {
        position: absolute;
        font-weight: bolder;
        letter-spacing: -1px;
        background: black;
        font-size: 20px;
        padding: 0px;
        margin: 0px;
        top: 25px;
        left: 80px;
    }

    .circle {
        position: absolute;
        width: 65px;
        height: 65px;
        top: 0px;
        left: 0px;
        transform: translate(-40px, -10px);
        border-radius: 100px;
        background: white;
        z-index: 1;
    }
}

.innerCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background: black;
}