.page {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 25rem;
}


.info_box {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 700px;
  height: 500px; 
  background: black;
  transform: skew(-5deg);
  box-shadow: 10px 10px 0 white, -10px -10px 0 white;
}

.info_box .title {
  color: black;
  background: white;
  height: fit-content;
  padding: 5px 30px;
  transform: skew(10deg);
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
}
