:global(.theme-persona){
  .page {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 25rem;
  }

.info_box {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 700px;
  height: 500px; 
  background: black;
  transform: skew(-5deg);
  box-shadow: 10px 10px 0 white, -10px -10px 0 white;
}

  .info_box .title {
    color: black;
    background: white;
    height: fit-content;
    padding: 5px 30px;
    transform: skew(10deg);
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  }


  .left_message {
  opacity: 0;

  transform: translateX(-100px);
  transition: all 0.6s ease;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 8px;
}

.right_message {
  opacity: 0;
    display: flex;
  justify-content: flex-end;
  transform: translateX(100px);
  transition: all 0.6s ease;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 8px;
}

/* Slide in when visible */
.visible {
  opacity: 1;
  transform: translateX(0);
}
}


